<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Профиль</h1>

    <form action="/profile" method="get">
      Ваш пол:
      <label>
        <input type="radio" name="gerder" value="m">Мужской
        <input type="radio" name="gender" value="f">Женский
        </label>
        <br>
      Месяц и год рождения:
      <br>
      <select name="month">
        <option>Январь</option>
        <option>Февраль</option>
        <option>Март</option>
        <option>Апрель</option>
        <option>Май</option>
        <option>Июнь</option>
        <option>Июль</option>
        <option>Август</option>
        <option>Сентябрь</option>
        <option>Октябрь</option>
        <option>Ноябрь</option>
        <option>Декабрь</option>
        </select>
        <select name="year">
          <option>1990</option>
          <option>1991</option>
          <option>1992</option>
          <option>1993</option>
          <option>1994</option>
          <option>1995</option>
          <option>1996</option>
          <option>1997</option>
          </select>
    </form>
  </body>
</html>